{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block page_title %}Login{% endblock %}

{% block content %}
<div class="container">
    <div class="center-card" style="height: 280px;">
        <h2>Login</h2>
        <form action="{{ url_for('login') }}" method="post" class="project-form">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit" class="btn">Login</button>
        </form>
        <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a></p>
    </div>
</div>
{% endblock %}
